@import url('//fonts.googleapis.com/css?family=Roboto:400,700,300');
@import url('//fonts.googleapis.com/css?family=Roboto+Slab:400');


@media (min-width: 1200px) {
  .span12, .container {
    width: 1170px;
  }
}

ul.errorlist {
    list-style-type: none;
    margin-left: 0px;
}

#bookmarks .bookmark {
    background-color: #ffffff;
    background-image:url('../images/top-border.png');    
    background-repeat:repeat-x; 
    /*background-image:url('../images/yellow2-mello.png');*/
    display: inline-block;
    width: 240px;
    vertical-align: top;
    margin-bottom: 12px;    
    
}

.bookmark_icon_nolink, body {
    color: #404040;
    /*text-shadow: 0 1px 0 #E0E0E0;*/
}

a.bookmark_icon_link {
    text-decoration: none;
}

.title {
    font-size: 1.5em;
    color: #2d5f73;
    /*text-shadow: 0 1px 0 #E0E0E0;*/
}

.thingrating {
    margin-bottom: 5px;
    width: 150px;
}

li.span3.firstcol{
    margin-left: 0px;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    /*background-image:url('../images/grey-skies.png');*/    
    /*background-color: #5E5E5E;*/
}

body.palette {
    background-image:url('../images/grey-skies.png');    
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

input,
button,
select,
textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.navbar .brand {
  color: #ffffff;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

.navbar-search .search-query {
  padding: 4px 14px;
  margin-bottom: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

.navbar-inverse .navbar-inner { 
  background-image: none;
  background-repeat: no-repeat;
  background-color: #424254;
  filter: none;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  /*color: #919191;*/
  text-decoration: none;
  /*text-shadow: 0 1px 0 #FAFAFA;*/
  border-color: #78ada6;
}

article a {
  color: #404040;
  /*text-shadow: 0 1px 0 #E0E0E0;*/
  text-decoration: none;
}

.bookmark-foot {
    margin-top: 10px;
}

.likes {
    padding-right: 5px;
}


.thumbnail {
    border-radius: 0; /* remove rounded border */
    padding: 10px;
}

span + span:not(.icon-bar) {
    margin-left: 10px;
}

article hr {
    margin: 5px 0px 10px;
}

article div + div:not(.span6){
    margin-top: 7px;
}





.well {
    background-color: #FAFAFA;
}

.top-roomspace {
    margin-top: 10px;
}

/* Form styling */

input:focus:invalid:focus,
textarea:focus:invalid:focus,select:focus:invalid:focus {
      border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #555555;
  border-color: #ee5f5b;
}

.control-label {
    font-weight: bold;
}

.asteriskField {
    display: none;
}


/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
  
  
/* responsive media queries */
  
@media (max-width: 480px) {

}

@media (max-width: 768px) {
  header h1 small {
    display: block;
  }

  header div.description {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .isotope .item {
    position: static ! important;
    -webkit-transform: translate(0px, 0px) ! important;
       -moz-transform: translate(0px, 0px) ! important;
            transform: translate(0px, 0px) ! important;
  }
}

@media (max-width: 980px) {
  header p.lead span {
    display: block;
  }
}

@media (min-width: 480px) and (max-width: 768px) {

}


@media (min-width: 768px) and (max-width: 980px) {
  .span3 {
    width: 352px;
  }
}

@media (min-width: 980px) and (max-width: 1200px) {
  .span3 {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .span3 {
    width: 270px;
  }
}