{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans "Account Activation" %}{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span5">  
      {% if account %}
      <div class="alert alert-success">
        <h2>{% trans "Activation Successful!" %}</h2>
        <p>{% trans "Your account has been successfully activated." %}</p>
        <button class="btn btn-large btn-primary" type="button"><a href="{% url 'auth_login' %}">{% trans "Sign in" %}</a></button>
      </div>
      {% else %}
      <div class="alert alert-error">
        <h2>{% trans "Activation Unsuccessful" %}</h2>
        {% trans "Check that your activation link is correct and that your activation has not expired. Activation keys are only valid for <strong>one day</strong> after registration." %}
      </div>  
      {% endif %}
    </div>
</div>

{% endblock %}