{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span5">
        
            <form class="form" method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
                <fieldset>
                    
                    <legend>{% trans "Sign In" %}</legend>
                    <div class="well">            
                        <label for="id_username" class="control-label">{% trans "Username" %}</label>
          
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-user"></i></span>
                            <input id="id_username" name="username" type="text" 
                                {% if form.username.value %}
                                    value="{{form.username.value}}"
                                {% else %}
                                    placeholder="username"
                                {% endif %}
                            >    
                        </div>
                
                        <label for="id_password" class="control-label">{% trans "Password" %}</label>

                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-key"></i></span>
                            <input id="id_password" name="password" type="password" placeholder="password">
                        </div>
                
                    {% if form.non_field_errors %}
                        <div class="alert alert-error">{% trans "Incorrect username and/or password." %}</div>
                    {% endif %}         
                    <div>   
                        <button type="submit" class="btn btn-large btn-primary">{% trans "Sign In" %}</button>
                    </div>
                    <div class="top-roomspace">
                        <div><a href="{% url 'auth_password_reset' %}">{% trans "Forgot your password?" %}</a></div>
                        <div><a href="{% url 'registration_register' %}">{% trans "Need to Register?" %}</a></div>       
                    </div>

                </fieldset>
            </form>        
    </div>
</div>

{% endblock %}



