{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password Reset' %}{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span5">
        {% if validlink %}
            <form action="" method="post">{% csrf_token %}
                <fieldset>
                    <legend>{% trans "Password Reset" %}</legend>
                    <div class="well">
                        <label for="id_new_password1"><strong>{% trans 'New Password' %}</strong></label>
                        {% if form.new_password1.errors %}
                        <div class="alert alert-error">{{ form.new_password1.errors }}</div>
                        {% endif %}
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-key"></i></span>
                            <input id="id_new_password1" name="new_password1" type="password" placeholder="new password">
                        </div>
                        <label for="id_new_password2"><strong>{% trans 'Confirm New Password' %}</strong></label>
                        {% if form.new_password2.errors %}
                        <div class="alert alert-error">{{ form.new_password2.errors }}</div>
                        {% endif %}
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-key"></i></span>
                            <input id="id_new_password2" name="new_password2" type="password" placeholder="confirm new password">
                        </div>
                        <div>   
                            <button type="submit" class="btn btn-large btn-primary">{% trans "Reset Password" %}</button>
                        </div>  
                    </div>
                </fieldset>
            </form>
        {% else %}
            <div class="alert alert-error">
                <h2>{% trans "Password Reset Unsuccessful" %}</h2>
                <p>{% trans "The password reset link is invalid. Please request a new password reset." %} <a href="{% url 'auth_password_reset' %}">Password reset</a></p>
            </div>      
        {% endif %}                          
    </div>
</div>
{% endblock %}

{% if validlink %}

<h1>{% trans 'Enter new password' %}</h1>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
	{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
