
{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'Change Password' %} {% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span5">
        <form method="post" action=".">{% csrf_token %}
            <fieldset>
                <legend>{% trans "Change Password" %}</legend>
                <div class="alert alert-info">{% trans "The new password must be at least 8 characters in length and contain at least one digit and at least one alphabetic character." %} </div>
                <div class="well">
                    <label for="id_old_password" class="control-label">{% trans "Old Password" %}</label>
                    {% if form.old_password.errors %}
                    <div class="alert alert-error">{{ form.old_password.errors }}</div>
                    {% endif %}
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-key"></i></span>
                        <input id="id_old_password" name="old_password" type="password" placeholder="old password">
                    </div>
                    <label for="id_new_password1" class="control-label">{% trans "New Password" %}</label>
                    {% if form.new_password1.errors %}
                    <div class="alert alert-error">{{ form.new_password1.errors }}</div>
                    {% endif %}
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-key"></i></span>
                        <input id="id_new_password1" name="new_password1" type="password" placeholder="new password">

                    </div>

                    <label for="id_new_password2" class="control-label">{% trans "Confirm New Password" %}</label>
                    {% if form.new_password2.errors %}
                    <div class="alert alert-error">{{ form.new_password2.errors }}</div>
                    {% endif %}               
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-key"></i></span>
                        <input id="id_new_password2" name="new_password2" type="password" placeholder="confirm new password">                        
                    </div>
                    <div>   
                        <button type="submit" class="btn btn-large btn-primary">{% trans "Change Password" %}</button>
                    </div>   
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
