{% extends "base.html" %}
{% load i18n %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span5">
        <form class="form" method="post" action="">{% csrf_token %}
            <fieldset>
                <legend>{% trans "Register" %}</legend>
                <div class="well">

                    <div class="alert alert-info">{% trans "Complete all fields below. You'll emailed instructions on how activate your account." %}</div>

                    {% if form.non_field_errors %}
                        <div class="alert alert-error">{{ form.non_field_errors }}</div>
                    {% endif %}
                    <label for="id_username"><strong>{% trans "Username" %}</strong></label>
                    {% if form.username.errors %}
                        <div class="alert alert-error">{{ form.username.errors }}</div>
                    {% endif %}                    
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input id="id_username" name="username" type="text" placeholder="username">
                    </div>
                    <label for="id_email"><strong>{% trans "Email" %}</strong></label>
                    {% if form.email.errors %}
                        <div class="alert alert-error">{{ form.email.errors }}</div>
                    {% endif %}                    
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input id="id_email" name="email" type="email" placeholder="email">
                    </div>                    
                    <label for="id_password1"><strong>{% trans "Password" %}</strong></label>
                    {% if form.password1.errors %}
                        <div class="alert alert-error">{{ form.password1.errors }}</div>
                    {% endif %}                    
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-key"></i></span>
                        <input id="id_password1" name="password1" type="password" placeholder="password">
                    </div>   
                    <label for="id_password2"><strong>{% trans "Confirm Password" %}</strong></label>
                    {% if form.password2.errors %}
                        <div class="alert alert-error">{{ form.password2.errors }}</div>
                    {% endif %}                    
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-key"></i></span>
                        <input id="id_password2" name="password2" type="password" placeholder="confirm password">
                    </div> 
                    <div>   
                        <button type="submit" class="btn btn-large btn-primary">{% trans "Register" %}</button>
                    </div>                                         

                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
