{% if bookmarks %}
    <ul id="bookmarks">
        {% if show_edit %}
            <form action="." method="post">{% csrf_token %}
        {% endif %}
                {% for bookmark in bookmarks %}
                    <li>
                        {% include "bookmark.html" %}
                    </li>
                {% endfor %}
        {% if show_edit %}
            <input type="submit" value="Submit" />
            </form>
        {% endif %}
    </ul>
{% else %}
    <p>No bookmarks found.</p>
{% endif %}








