<a href="{{ bookmark.link.url }}" class="title">
    {{ bookmark.title }}
</a>
<br/>
{% if show_tags %}
    Tags:                   
    {% if bookmark.tags %}
        <ul class="tags">
            {% for tag in bookmark.tags.all %}
                <li>
                    <a href="{% url 'bookmarks.views.tag_page' tag.slug %}">
                    {{ tag.name }}</a></li>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </ul>
    {% else %}
        None.
    {% endif %}
    <br/>
{% endif %}
{% for feature in bookmark.features.all %}
    <img src="{{ STATIC_URL }}images/features/{{feature.description}}.png" alt="{{feature.description}}"/>
{% endfor %}
<div class="thingrating" id="{{ bookmark.link.id }}"><span style="display:none;">{{ bookmark.link.rating.get_rating }}</span></div>
<div>{{ bookmark.link.rating.get_rating }}</span></div>
<div class="level_vote">
    <a href="{% url 'bookmarks.views.level_vote' bookmark.link.id 'beginner' %}?next={{request.path}}">Beginner</a> |
    <a href="{% url 'bookmarks.views.level_vote' bookmark.link.id 'intermediate' %}?next={{request.path}}">Intermediate</a> |
    <a href="{% url 'bookmarks.views.level_vote' bookmark.link.id 'advanced' %}?next={{request.path}}">Advanced</a>
</div>

{% with bookmark.link.poll_set.all|first as poll %}
    {% for choice in poll.choice_set.all %}
        <li>{{ choice.choice }} - {{ choice.count_votes }}</li>
    {% endfor %}
{% endwith %}
private bookmark {{bookmark.private}}
<!-- {% if user.is_authenticated and user.username == username %}
    <a href="{% url 'bookmarks.views.delete_bookmark' bookmark.id %}?next={{request.path}}">delete</a>
{% endif %} -->
{% if show_user %}
    Posted by:
    <a href="{% url 'bookmarks.views.user_page' bookmark.user.username %}"
    class="username">
    {{ bookmark.user.username }}</a>
{% endif %}
{% if show_edit %}
    private bookmark {{bookmark.private}}
    delete <input type="checkbox" name="editlist" value="{{bookmark.id}}">
{% endif %}

