{% if bookmarks %}
	<ul class="bookmarks">
		{% for bookmark in bookmarks %}
			<li>
				<a href="{{ bookmark.link.url }}" class="title">
					{{ bookmark.title }}
				</a>
				<br/>
				{% if show_tags %}
					Tags:					
					{% if bookmark.tags %}
						<ul class="tags">
							{% for tag in bookmark.tags.all %}
								<li><a href="/tag/{{ tag.name|urlencode }}/">
									{{ tag.name }}</a></li>{% if not forloop.last %},{% endif %}
							{% endfor %}
						</ul>
					{% else %}
						None.
					{% endif %}
					<br/>
				{% endif %}
				{% if show_user %}
					Posted by:
					<a href="/user/{{ bookmark.user.username }}/"
					class="username">
					{{ bookmark.user.username }}</a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No bookmarks found.</p>
{% endif %}








