{% if resources %}
    {% if path %}
        <div id="path_bookmarks" class="row">
    {% else %}        
        <div id="bookmarks" class="row">
    {% endif %}        
    {% for resource in resources %}
        {% if request.user.username == username or not resource.personal %}
            {% if resource.bookmark.link %}
                <article class="thumbnail bookmark item span3">
                    {% include "shared_bookmark.html" %}
                </article>
            {% else %}
                <article class="thumbnail path item span3">
                    {% include "shared_path.html" %}
                </article>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

{% else %}
    <p>No resources found.</p>
{% endif %}





