{% load bookmarks_extras %}
{% if bookmark.sharedbookmark %}
<div class="row-fluid">
    <div class="span6">
    {% if bookmark.sharedbookmark %}
        {% if request.user.username != bookmark.user.username %}
        <span>
            <a href="{% url 'bookmarks.views.bookmark_save'%}?id={{bookmark.id}}" class="bookmark_icon_link"><i class="icon-bookmark icon-large"></i></a>
        </span>
        {% endif %}     
        <span>
        <a href="{% url 'bookmarks.views.interest_vote' bookmark.sharedbookmark.id %}?next={{request.path}}" class="bookmark_icon_link interested"><i class="icon-thumbs-up icon-large"></i></a>
        </span>
        <span>
            <a href="{% url 'sharedbookmark_detail' bookmark.sharedbookmark.id bookmark.slug %}" class="bookmark_icon_link more"><i class="icon-comment icon-large"></i></a>
        </span>
        <span>
        <a href="{% url 'bookmarks.views.report_abuse_vote' bookmark.sharedbookmark.id %}?next={{request.path}}" class="bookmark_icon_link"><i class="icon-flag icon-large bookmark_icon_link"></i></a> 
        </span>
    {% endif %}   
    </div>

    <div class="span6">
        <span class="pull-right">{{ bookmark.sharedbookmark.hot_score}}</span>
    </div>
</div>
<hr>
{% endif %}
<div><a href="{{ bookmark.link.url }}" class="title">
    {{ bookmark.title }}
</a></div>
<div class="thingrating" id="{{ bookmark.link.id }}"><span style="display:none;">{{ bookmark.link.rating.get_rating }}</span></div>


{% if bookmark.features %}
<div>

{% for feature in bookmark.features.all %}
    <span><i class="{{ feature.description|font_icon }} icon-large bookmark_icon_nolink"></i></span>
{% endfor %}

</div>
{% endif %}

<div>
    <a class="beginner" href="{% url 'bookmarks.views.level_vote' bookmark.link.id 'BR' %}?next={{request.path}}">beg</a>  <span class="BR">{{ bookmark.link.count_beginner_votes }}</span>
    <a class="intermediate" href="{% url 'bookmarks.views.level_vote' bookmark.link.id 'IN' %}?next={{request.path}}">int</a>  <span class="IN">{{ bookmark.link.count_intermediate_votes }}</span>
    <a class="advanced" href="{% url 'bookmarks.views.level_vote' bookmark.link.id 'AD' %}?next={{request.path}}">adv</a>  <span class="AD">{{ bookmark.link.count_advanced_votes }}</span>
</div>

<hr>
{% if show_tags %} 
<div>           
    {% if bookmark.tags %} 
    <i class="icon-tags icon-large bookmark_icon_nolink"></i>                  
        {% for tag in bookmark.tags.all %}
            <a href="{% url 'bookmarks.views.tag_page' tag.slug %}">
            {{ tag.name }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}        
    {% else %}
        None.
    {% endif %}
</div>
{% endif %}

{% if show_edit %}
    personal bookmark {{bookmark.personal}}
    delete <input type="checkbox" name="editlist" value="{{bookmark.id}}">
{% endif %}


{% if request.user.username == username %}
    <a href="{% url 'bookmark_delete' bookmark.id %}?next={{request.path}}">delete</a>
{% endif %}

{% if bookmark.sharedbookmark %}
    <div class="row-fluid">
        <div class="span12">        
            likes: <span class="interest_count">{{ bookmark.sharedbookmark.count_like_votes }}</span>

            <span class="pull-right">     
                <i class="icon-user"></i>
                <a href="{% url 'bookmarks.views.user_page' bookmark.user.username %}"
                class="username">
                {{ bookmark.user.username }}</a>
            </span>
        </div>
    </div>
{% endif %}
