{% extends "base.html" %}

{% block headexternal %}
    <link href="{{ STATIC_URL }}css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
{% endblock %}
{% block user %}
{% endblock %}    
{% block title %}
    User: {{ user.username }}
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    
    {% if path %}

        <div id="select-step" class="row">
            <h1 class="span10">Step 1: </h1>
            <button id="next_path" class=" btn btn-large btn-primary" type="button">Next</button>
        </div>
        <div style="display: none" id="sort-step" class="row">
            <h1 class="span10">Step 2: </h1>
            <button id="next_path2" class=" btn btn-large btn-primary" type="button">Next</button>
        </div>        
        <div style="display: none" id="none-select" class="alert alert-error span4 pull-left">            
            <strong>Two or more resources are required to create a path.</strong> 
        </div>        
    {% endif %}
    {% if shared_bookmarks %}
    <div id="path_bookmarks" class="row">
        <h2>Shared Bookmarks</h2>
        {% for resource in shared_bookmarks %}
            <article class="thumbnail bookmark item span3">
                {% include "shared_bookmark.html" %}
            </article>
        {% endfor %}
    </div>
    {% endif %}
 
{% endblock %}



