{% load bookmarks_extras %}
<span class="bookmark-id" style="display: none">{{resource.path.id}}</span>
<span class="resource-type" style="display: none">path</span>
<div class="row-fluid">
    <div class="span6">

        {% if request.user.username != resource.path.user.username %}
        <span>
            <a href="{% url 'bookmarks.views.path_save'%}?id={{resource.path.id}}" class="bookmark_icon_link"><i class="icon-bookmark icon-large top-banner"></i></a>
        </span>
        {% endif %}     
        <span>
        <a href="{% url 'interest_vote_path' resource.id %}?next={{request.path}}" class="bookmark_icon_link interested"><i class="icon-thumbs-up icon-large top-banner"></i></a>
        </span>
        <span>
            <a href="{% url 'sharedbookmark_detail' resource.id resource.path.slug %}" class="bookmark_icon_link more"><i class="icon-comment icon-large top-banner"></i></a>
        </span>
        <span>
        <a href="{% url 'abuse_vote_path' resource.id %}?next={{request.path}}" class="bookmark_icon_link"><i class="icon-flag icon-large bookmark_icon_link top-banner"></i></a> 
        </span>
  
    </div>

    <div class="span6">
        <span class="pull-right top-banner">{{ resource.hot_score}}</span>
    </div>
</div>


<div><a href="{{ resource.path.link.url }}" class="title">
    {{ resource.s_title }}
</a></div>
<div class="pathrating" id="{{ resource.path.id }}"><span style="display:none;">{{ resource.path.rating.get_rating }}</span></div>


{% if resource.path.features %}
<div>

{% for feature in resource.path.features.all %}
    <span><i class="{{ feature.description|font_icon }} icon-large bookmark_icon_nolink"></i></span>
{% endfor %}

</div>
{% endif %}



<hr>
{% if show_tags %} 
<div>           
    {% if resource.path.tags %} 
    <i class="icon-tags icon-large bookmark_icon_nolink"></i>                  
        {% for tag in resource.path.tags.all %}
            <a href="{% url 'bookmarks.views.tag_page' tag.slug %}">
            {{ tag.name }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}        
    {% else %}
        None.
    {% endif %}
</div>
{% endif %}



<div class="row-fluid">
    <div class="span12">        
        likes: <span class="interest_count">{{ resource.like_votes.count }}</span>

        <span class="pull-right">     
            <i class="icon-user"></i>
            <a href="{% url 'bookmarks.views.user_page' resource.path.user.username %}"
            class="username">
            {{ resource.path.user.username }}</a>
        </span>
    </div>
</div>


{% if request.user.username == username and show_edit %}
    <div class="row-fluid">
        <div class="span12">
            <a href="{% url 'bookmark_delete' resource.path.id %}?next={{request.path}}">delete</a>
            <span class="pull-right">
                <a href="{% url 'bookmarks.views.bookmark_save' %}?url={{resource.path.link.url}}" class="edit">edit</a>
            </span>
        </div>
    </div>
{% endif %}
