{% extends "base.html" %}
{% block user %}
    {% if user.is_authenticated and user.username == username %}
        <a href="{% url 'bookmarks.views.user_page' user.username %}?show_edit=1">edit</a> |
    {% endif %}
{% endblock %}    
{% block title %}
	User: {{ username }}
{% endblock %}
{% block head %}
{{ username }}&#39;s Bookmarks:
{% endblock %}
{% block content %}
    {% if bookmarks %}
        {% include "bookmark_list.html" %}
    {% else %}
        {% include "shared_bookmark_list.html" %}
    {% endif %}
{% endblock %}



